/*GENERAL*/
.clear{
    clear: both;
}

header{
    height: 120px;
    margin-top: 50px;
}




/*HAUT*/

#haut{
 padding-left: 40px;
}

#haut div{
    float: left;  /*pour éviter qu'il se mettent les uns au dessus des autres*/
    display: inline-block;
    margin-right: 20px;
    /*border-radius: 10px; arrondir les bords des images*/
}

#haut div:last-child{
    display: block;
    float: left;
    padding: 0px;
    
}

#haut div:last-child p{
    text-align: center;
    margin-bottom: 20px;
}

#surligne {
    background-color: blue;
    color: #fff;
    text-transform:uppercase;
    font-size: 20px;
    line-height: 1px;
    font-style: italic;
    }

#pidf{
    background-color: blue;
    color: #fff;
    text-transform:uppercase;
    font-size: 12px;
    line-height: 20px;
    font-style: italic;
    
}

#entete{
    border-bottom: 1px solid gray;
}

/*#clear {
    margin-top: 0px;
}*/

/*Ligne dates site numro*/

#ligne2{
    padding-left: 40px;
   }
   
#ligne2 {
    /* display: inline-block; */
    /* margin: 20px; */
    width: 1000px;
    /* text-align: center; */
}

.date{
    padding-right: 50px;
    float: left;
}


.numero{
    float: right;
}







